.trending {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .trending__discover {
    position: absolute;
    top: 44%;
    left: 44%;
    z-index: 1;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: var(--secondary-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trending__discover p {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
  
    text-transform: uppercase;
    color: #fff;
  }

  .trending-sushi,
.trending-drinks {
  width: 100%;
  min-height: 640px;
  display: flex;
  flex-direction: row;
}
.trending__content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 64px;
  }
  .trending__list {
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .trending__list li {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    min-width: 210px;
  }
  .trending__icon {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--primary-color);
  }
  
  .trending__icon img {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
  .trending__list p {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);  
    color: var(--secondary-color);
  }
  